.page {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.header__link {
  text-decoration: none;
  color: rgb(71, 69, 69);
  margin-left: 20px;
  margin-right: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
}
.content__logo {
  width: 15%;
  margin-bottom: 30px;
}

.form {
  width: 40%;
  margin: 0;
  white-space: no-wrap;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 12px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .content__logo {
    width: 30%;
  }
  .form {
    width: 60%;
  }
}

.form__search {
  margin: 0 0 30px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid lightgray;
  min-height: 40px;
  background-image: url("./images/search_black_24dp.svg");
  background-position: 3%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 15px 60px;
}
.form__button-container {
  display: flex;
  justify-content: center;
}
.form__button {
  border: none;
  background-color: rgb(240, 236, 236);
  color: black;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease-out 0.3s opacity;
  cursor: pointer;
  margin-right: 20px;
}
.form__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 600px) {
  .header__link {
    font-size: 10px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .form {
    width: 80%;
  }
  .form__button {
    margin-right: 10px;
    font-size: 12px;
    padding: 10px 10px;
  }
}
.content__header {
  color: rgb(219, 58, 48);
  font-size: 30px;
  margin: 10px;
}
.content__subheader {
  color: black;
  font-size: 25px;
  margin: 10px;
}

.header__container_advanced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__logo_advanced {
  margin: 5px 0 0 20px;
  width: 4%;
}
.form__label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form__search_advanced {
  padding: 10px 50px;
  margin: 0;
}
.form__label {
  margin-right: 20px;
  font-size: 20px;
  display: inline-block;
  white-space: nowrap;
  flex-basis: 40%;
}

.form_advanced {
  width: 80%;
}

.form__button_advanced {
  background-color: rgb(74, 138, 244);
  color: white;
}
